Source: fortune-zh
Section: games
Priority: optional
Maintainer: Debian Chinese Team <chinese-developers@lists.alioth.debian.org>
Uploaders: Mo Zhou <cdluminate@gmail.com>
Build-Depends: debhelper (>= 10),
               fortune-mod,
Standards-Version: 4.1.1
Vcs-Browser: https://salsa.debian.org/chinese-team/fortunes-zh
Vcs-Git: https://salsa.debian.org/chinese-team/fortunes-zh.git

Package: fortune-zh
Section: oldlibs
Architecture: all
Depends: fortunes-zh, ${misc:Depends}
Description: Chinese Data files for fortune (dummy transitional package)
 This package contains the Chinese data files for fortune in
 UTF-8 encoding.
 .
 cookies included in this package:
  * tang300: 300 Tang Poems
  * song100: 100 Song Poems
  * chinese: Misc Chinese Collection
 .
 This is a dummy transitional package of fortunes-zh.

Package: fortunes-zh
Architecture: all
Depends: ${misc:Depends}, fortune-mod
Breaks: fortune-zh (<< 2.2)
Replaces: fortune-zh (<< 2.2)
Description: Chinese Data files for fortune
 This package contains the Chinese data files for fortune in
 UTF-8 encoding.
 .
 cookies included in this package:
  * tang300: 300 Tang Poems
  * song100: 100 Song Poems
  * chinese: Misc Chinese Collection
